@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
body {
	margin: 0;
	background: #fcfcfc;
	font-family: 'Work Sans', sans-serif;
	font-weight: 1100;
}

.container {
	width: 80%;
  margin: 0 auto;
  
}

header {
  background: #2979FF;  
  box-shadow: 0px 3px 11px rgb(184, 184, 184);
  border-radius: 1px;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

#footer {
  position:absolute;
  bottom:0;
  width:100%;
  height:100px;   /* Height of the footer */
  text-align:center;
  margin: 7px;
}

.footer-home {
  display: block;
  position: fixed;

  /*float: middle;*/
  bottom:0;
  left: 0;
  right: 0;
  width: 100%;
  height:100px;
  z-index:40;
  text-align:center;
  margin: 7px;
}


.logo {
  float: left;
  padding: 10px 0;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 35px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 17px;
  transition: all 500ms;
  padding-top: 20px;
  padding-bottom: 20px;
}

nav a:hover {
  color: rgb(255, 255, 255);
  font-size:17px;
  font-size-adjust: 17px;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: rgb(255, 255, 255);

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

.image-box {
  float: left;
  border: 1px solid #d7d7d7 ;
  box-shadow: 1px 1px 3px #d7d7d7;

  border-radius: 7px;
  background: #ffffff;

  margin-left: 370px;
  margin-top: 40px;
  padding: 14px;
  width: 320px;
  height: 435px;

  word-wrap: break-word;
}

.text-box {
  float: left;
  border: 1px solid #d7d7d7 ;
  box-shadow: 1px 1px 3px #d7d7d7;

  border-radius: 7px;
  background: #ffffff;

  margin-left: 25px;
  margin-top: 40px;
  padding: 16px;
  width: 480px;
  height: 600px;

  word-wrap: break-word;
}

.contact-text-box{
  border: 1px solid #d7d7d7 ;
  box-shadow: 1px 1px 3px #d7d7d7;
  border-radius: 7px;
  background: #ffffff;

  /* Center vertically and horizontally */
  position: absolute;
  top: 30%;
  left: 50%;
  margin: -120px 0 0 -220px; /* apply negative top and left margins to truly center the element */

  padding: 20px;
  width: 460px;
  height: 280px;

  word-wrap: break-word;
}

.contact-title{
  text-align: center;
}

p {
  font-size: 17px;
}

p em {
  color: #f59f00;
}

.light-text{
  font-size: 13px;
}

hr { 
  margin-top: 2px;
  margin-bottom: 0px;
  margin-left: 230px;
  margin-right: 230px;
  border-width: 1px;
  color: grey;
} 

.img-container {
  text-align: center;
}

.aws-img{
  text-align: center;
  display: block;
}

.fa { 
  transition: all .2s ease-in-out; 
  }
  
.fa:hover { 
transform: scale(1.2); 
}

.fa th{ 
  transition: all .2s ease-in-out; 
  }
  
.fa th:hover { 
transform: scale(1.6); 
}

.contact-icons{
  margin: 0;
  position: absolute;
  top: 60%;
  left: 30%;
}

.resource-title{
  margin-top: 60px;
  margin-bottom: 0px;
  margin-left: 150px;
  margin-right: 300px;

  font-size: 20px;
}

.grid-container{
  display: grid;
  grid-template-columns: auto auto auto;
  
  padding: 10px;
  grid-column-gap: 24px;
  grid-row-gap: 14px;

  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 140px;
  margin-right: 150px;
}

.projects-grid-container{
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: 360px 360px 360px;
  grid-template-rows: auto auto;
  
  padding: 10px;
  grid-column-gap: 25px;
  grid-row-gap: 40px;

  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 140px;
  margin-right: 200px;
}

.contact-grid-container{
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: 240px 240px;
  grid-template-rows: auto auto;
  
  padding: 10px;
  grid-column-gap: 25px;
  grid-row-gap: 40px;

  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.grid-item {
  background: #ffffff;
  border: 1px solid #d7d7d7 ;
  box-shadow: 1px 1px 3px #d7d7d7;
  border-radius: 7px;
  
  padding: 18px;
  font-size: 18px;
  text-align: center;

  /* increase size and shadow on hover */
  transition: transform .3s; /* Animation */
}

.grid-item:hover {
  transform: scale(1.02); /* (120% zoom) */
  box-shadow: 0 0 12px rgba(33,33,33,.2); 
}

.contact-text {
  width: 60%;
}

.contact-icon {
  font-size: 1em;
  padding: 7px;
}

.contact-icon--flexbox {
  display: flex;
  align-items: center;
  justify-content: center;
}