<html>
  <head>
    <meta charset="utf-8">

    <title>{% block page_title %}Home{% endblock page_title %}</title>

    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/styles.css') }}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<header>
  <div class="container">
    <img src="https://user-images.githubusercontent.com/20422614/91669451-1dffca80-eae3-11ea-822a-c27c0b12814c.png" alt="logo" class="logo">

    <nav>
      <ul>
        <li><a href="{{ url_for('showHomepage')}}">Home</a></li>
        <li><a href="{{ url_for('showProjects')}}">PROJECTS</a></li>
        <li><a href="{{ url_for('showResources')}}">RESOURCES</a></li>
        <li><a href="{{ url_for('showContact')}}">CONTACT</a></li>
        <li><a href="https://github.com/spencerbertsch1" target="_blank">GITHUB</a></li>
      </ul>
    </nav>
  </div>
</header>

  <body>
    <div class="pong-button-box">

        <div class="button-title">
          <h2> 
            Choose your AI Opponent
          </h2>
        </div>
  
        <button onclick="myFunction()" id="rules_AI">Rules Based AI</button>
        <br>
        <br>
        <button onclick="myFunction()" id="tf_AI">Tensorflow AI</button>
        <br>
        <br>
        <button onclick="myFunction()" id="rl_AI">Reinforcement Learning AI</button>
        
        <div id="snackbar">AI Opponent Chosen!</div>
  
    </div>

        <p> This project is in progress - prorotype can be seen below. </p>

        <div id="canvas-container">
            <canvas id="game_canvas">Your browser doesn't support canvas. Please open this page in Google Chrome.</canvas>
        </div>

        <script src="{{ url_for('static', filename='js/ai_pong.js') }}"></script>
  </body>

</html>