<html>
  <head>
    <meta charset="utf-8">

    <title>{% block page_title %}Home{% endblock page_title %}</title>

    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<header>
  <div class="container">
    <h1 class="logo"></h1>

    <nav>
      <ul>
        <li><a href="{{ url_for('showHomepage')}}">Home</a></li>
        <li><a href="{{ url_for('showProjects')}}">PROJECTS</a></li>
        <li><a href="{{ url_for('showResources')}}">RESOURCES</a></li>
        <li><a href="{{ url_for('showContact')}}">CONTACT</a></li>
        <li><a href="https://github.com/spencerbertsch1" target="_blank">GITHUB</a></li>
      </ul>
    </nav>
  </div>
</header>

  <body>

    <div class="image-box">
      <img src="https://user-images.githubusercontent.com/20422614/90533926-1fc2a900-e147-11ea-97eb-1158a4676646.jpg" alt="Headshot" style="width:320px;height:434px;">
    </div>

    <div class="text-box">
      <h1> 
        Welcome!
      </h1>
      
      <p>
        My name is Spencer - I'm a physicist, data scientist, and lifelong learner. I built this website as a resource where I can share some 
        of my interests, as well as the projects I’ve worked on over the years.
        <br></br>
        As a graduate student at Dartmouth, I began connecting my knowledge of machine learning with an interest in finance 
        to work on discovering clever alternatives to traditional financial structures. I love the idea of replacing conventional (often archaic) 
        rules with advanced analytics and understanding how the combination of different types of models can lead to new, high-performing systems.
        <br></br>
        I have degrees from Skidmore and Dartmouth in physics, mathematics, engineering, and management and my primary skillset falls 
        into developing machine learning pipelines in Python and AWS. Feel free to explore my projects and resources to see what else I’ve been 
        working on and thinking about lately. 
        <br><br>
        <em>
          Note: All of my thoughts and projects found on this website are entirely my own 
          and do not reflect upon my employer or any past employer. 
        </em>
      </p>

      <div class="aws-img">
        <img src="https://user-images.githubusercontent.com/20422614/90550679-450ee180-e15e-11ea-9926-37f32bdaf733.png" alt="AWS" style="width:140px;height:25px;">
      </div>
    </div>

  </body>


  <div class="footer-home">
    <br>
      <hr>
    <br>
    <a href="https://www.linkedin.com/in/spencerbertsch/" target="_blank"><i class="fa fa-linkedin" style="font-size:24px;color:#2962FF"></i></a>
    &emsp; <a href="https://github.com/spencerbertsch1" target="_blank"><i class="fa fa-github" style="font-size:24px;color:#2962FF"></i></a>
    
    <p class="light-text" style="color:gray"> Spencer Bertsch &copy; 2020 </p>
  </div>




</html>
