<html>
  <head>
    <meta charset="utf-8">

    <title>{% block page_title %}Home{% endblock page_title %}</title>

    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>

<header>
    <div class="container">
      <h1 class="logo"></h1>

      <nav>
        <ul>
          <li><a href="{{ url_for('showHomepage')}}">Home</a></li>
          <li><a href="{{ url_for('showProjects')}}">PROJECTS</a></li>
          <li><a href="{{ url_for('showResources')}}">RESOURCES</a></li>
          <li><a href="{{ url_for('showContact')}}">CONTACT</a></li>
          <li><a href="https://github.com/spencerbertsch1">GITHUB</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <body>

    <div class="container">
      <div class="opener">
        <h3>
          Hello! My name is Spencer. Welcome to my website.
          <br></br>
          I'm a a physicist, data scientist, and lifelong learner.
          <br></br>
          I build tools which derive value from data-rich environemnts. My
          favorite area to work in is the financial sector becasue of the
          large, natural abundance of transactional data and the inherant challenge
          in working with probabilistic systems.
          <br></br>
          I've recently been more interested in modeling cryptocurrencies, but
          only time will tell how that hobby will end up.
          <br></br>
          I studdied physics at Skidmore College where I recieved a bachelors degree,
          and I studdied engineering and Management at Dartmouth College where I
          recieved a Bachelors of Engineering and a Masters of Management.
        </h3>
      </div>
    </div>

    <div class="container">
        <br>
        <br>
        <div style="text-align:center;">
              <footer>
                <a href="https://www.linkedin.com/in/spencerbertsch/"><i class="fa fa-linkedin" style="font-size:28px;color:#1976D2"></i></a>
                &emsp; <a href="https://github.com/spencerbertsch1"><i class="fa fa-github" style="font-size:28px;color:#1976D2"></i></a>
            </footer>
            <p class="light-text" style="color:gray"> Spencer Bertsch &copy; 2020 </p>
        </div>
    </div>

  </body>

</html>
