<html>
  <head>
    <meta charset="utf-8">

    <title>{% block page_title %}Home{% endblock page_title %}</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">

</head>

  <body>
    <nav class="navbar">
      <div class="container">
        <a style="color:white;"><b>SPENCER</b> BERTSCH</a>
        <div style="float:right;display:flex;">
          <ul style="list-style:none;display:flex;">
            <a href="{{ url_for('showAbout')}}"><li id="link-list">ABOUT</li></a>
            <a href="{{ url_for('showProjects')}}"><li id="link-list">PROJECTS</li></a>
            <a href="{{ url_for('showResources')}}"><li id="link-list">RESOURCES</li></a>
            <a href="{{ url_for('showContact')}}"><li id="link-list">CONTACT</li></a>
            <a href="https://www.linkedin.com/in/spencerbertsch/"><li id="link-list">LINKEDIN</li></a>
            <a href="https://github.com/spencerbertsch1"><li id="link-list">GITHUB</li></a>
          </ul>
        </div>
      </div>
    </nav>


    <h2>Homepage</h2>

    <div class="container">
      <div class="opener">
        <h3>
          Hello! My name is Spencer. Welcome to my website.
          <br></br>
          I'm a a physicist, data scientist, and lifelong learner.
          <br></br>
          I build tools which derive value from data-rich environemnts. My
          favorite area to work in is the financial sector becasue of the
          large, natural abundance of transactional data and the inherant challenge
          in working with probabilistic systems.
          <br></br>
          I've recently been more interested in modeling cryptocurrencies, but
          only time will tell how that hobby will end up.
          <br></br>
          I studdied physics at Skidmore College where I recieved a bachelors degree,
          and I studdied engineering and Management at Dartmouth College where I
          recieved a Bachelors of Engineering and a Masters of Management.
        </h3>
      </div>
    </div>

    <div class="container">
        <br>
        <br>
          <hr>
        <br>
        <div style="text-align:center;">
            <p class="light-text" style="color:gray"> Spencer Bertsch &copy; 2020 </p>
        </div>
    </div>


  </body>

</html>
