<html>
  <head>
    <meta charset="utf-8">

    <title>{% block page_title %}Home{% endblock page_title %}</title>

    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<div id="container">
<header>
  <div class="container">
    <img src="https://user-images.githubusercontent.com/20422614/91669451-1dffca80-eae3-11ea-822a-c27c0b12814c.png" alt="logo" class="logo">

    <nav>
      <ul>
        <li><a href="{{ url_for('showHomepage')}}">Home</a></li>
        <li><a href="{{ url_for('showProjects')}}">PROJECTS</a></li>
        <li><a href="{{ url_for('showResources')}}">RESOURCES</a></li>
        <li><a href="{{ url_for('showContact')}}">CONTACT</a></li>
        <li><a href="https://github.com/spencerbertsch1">GITHUB</a></li>
      </ul>
    </nav>
  </div>
</header>


  <body>
    <div class="resource-title">
      <h1> 
        Projects  
      </h1>
    
    </div>

    <div class="projects-grid-container">
        <a href="{{ url_for('showSentimentDash')}}" style="color: #000000; text-decoration: none;">
          <div class="grid-item"> 
            Real Time Sentiment Dashboard <br> <br> 
            <i class="fa fa-bar-chart" style="font-size:56px;color:#448AFF"></i>
          </div>
        </a>
        
        <a href="{{ url_for('showStaySixFtApart')}}" style="color: #000000; text-decoration: none;">
          <div class="grid-item"> 
            Stay 6 Feet Apart! <br> <br> 
            <i class="fa fa-medkit" style="font-size:56px;color:#448AFF"></i>
          </div>
        </a>
        
        <a href="https://github.com/spencerbertsch1/Personal_Website" style="color: #000000; text-decoration: none;">
          <div class="grid-item"> 
            This very website! <br> <br> 
            <i class="fa fa-code" style="font-size:56px;color:#448AFF"></i>
          </div>
        </a>
        
        <a href="https://github.com/spencerbertsch1" style="color: #000000; text-decoration: none;">
          <div class="grid-item"> 
            Coming Soon! <br> <br> 
            <i th class="fa fa-exclamation-triangle" style="font-size:56px;color:#448AFF"></i>
          </div>
        </a>

        <p>
          <br>
        </p>

    </div>

    <div class="footer-home" style="text-align:center;">
        <footer>
            <br>
            <hr>
            <br>
            <a href="https://www.linkedin.com/in/spencerbertsch/"><i class="fa fa-linkedin" style="font-size:24px;color:#2962FF"></i></a>
            &emsp; <a href="https://github.com/spencerbertsch1"><i class="fa fa-github" style="font-size:24px;color:#2962FF"></i></a>
            
            <p class="light-text" style="color:gray"> Spencer Bertsch &copy; 2020 </p>
        </footer>
    </div>
    
  </body>

</div>
</html>
