<html>
  <head>
    <meta charset="utf-8">

    <title>{% block page_title %}Home{% endblock page_title %}</title>

    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<header>
  <div class="container">
    <h1 class="logo"></h1>

    <nav>
      <ul>
        <li><a href="{{ url_for('showHomepage')}}">Home</a></li>
        <li><a href="{{ url_for('showProjects')}}">PROJECTS</a></li>
        <li><a href="{{ url_for('showResources')}}">RESOURCES</a></li>
        <li><a href="{{ url_for('showContact')}}">CONTACT</a></li>
        <li><a href="https://github.com/spencerbertsch1">GITHUB</a></li>
      </ul>
    </nav>
  </div>
</header>


  <body>
    <div class="resource-title">
      <h1> 
        Reference Papers  
      </h1>

      <p> 
        The hardest part about understanding the math behind data science is not its inherent complexity, but the fact 
        that it seems rare for data scientists to have any use for the actual calculus or statistics 
        that powers the models we implement in our pipelines. This is somewhat tragic, so in order to counteract 
        this I decided a while back to make a few notes - small reference papers - of some of my favorite 
        mathematical concepts used in data analytics. These notes help me remember the important concepts behind 
        the models I implement in different projects. It’s always important to remember that a deep knowledge of 
        modeling theory and also of the data environment in question are required to develop the best performing 
        data science solution.
      </p>
    
    </div>

    <div class="grid-container">
        <div class="grid-item">Logistic Regression and Linear Separability</div>
        <div class="grid-item">Single-Neuron Neural Networks</div>
        <div class="grid-item">Single-Neuron Neural Networks</div>
        <div class="grid-item">4</div>
        <div class="grid-item">5</div>
        <div class="grid-item">6</div>
        <div class="grid-item">7</div>
        <div class="grid-item">8</div>
        <div class="grid-item">9</div>

        <p>
          <br>
          <br>
          <br>
        </p>

      </div>


    <div class="resource-title">
        <h1> 
          Sample Presentations
        </h1>

      </div>





    <div style="text-align:center;">
    <footer>
        <br>
        <hr>
        <br>
        <a href="https://www.linkedin.com/in/spencerbertsch/"><i class="fa fa-linkedin" style="font-size:24px;color:#2962FF"></i></a>
        &emsp; <a href="https://github.com/spencerbertsch1"><i class="fa fa-github" style="font-size:24px;color:#2962FF"></i></a>
        &emsp; <a href="https://twitter.com/spencerbertsch"><i class="fa fa-twitter" style="font-size:24px;color:#2962FF"></i></a>
        
        <p class="light-text" style="color:gray"> Spencer Bertsch &copy; 2020 </p>
    </footer>
    </div>


  </body>

</html>
