<html>
  <head>
    <meta charset="utf-8">

    <title>{% block page_title %}Home{% endblock page_title %}</title>

    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<div id="container">
<header>
  <div class="container">
    <h1 class="logo"></h1>

    <nav>
      <ul>
        <li><a href="{{ url_for('showHomepage')}}">Home</a></li>
        <li><a href="{{ url_for('showProjects')}}">PROJECTS</a></li>
        <li><a href="{{ url_for('showResources')}}">RESOURCES</a></li>
        <li><a href="{{ url_for('showContact')}}">CONTACT</a></li>
        <li><a href="https://github.com/spencerbertsch1">GITHUB</a></li>
      </ul>
    </nav>
  </div>
</header>


  <body>
    <div class="resource-title">
      <h1> 
        Reference Papers  
      </h1>

      <p> 
        Before I learned about data science and advanced analytics, I learned about the mathematical concepts that make data science possible. 
        I recently looked back at the notes on these concepts and decided to develop them into brief reference papers which can act as a 
        resource whenever I need to remember the fundamental concepts behind the models I implement in different projects. Sometimes it’s easy 
        to forget about the calculus and statistics that support the models we implement in our pipelines, but refreshing my understanding of 
        the underlying mathematics helped improve my approach to training models and getting the best possible use out of them. Feel free to 
        download and use these notes – maybe they can help you learn as well!
      </p>
    
    </div>

    <div class="grid-container">
        <a href="https://github.com/spencerbertsch1" target="_blank" style="color: #000000; text-decoration: none;"><div class="grid-item"> Logistic Regression and Linear Separability</div></a>
        <a href="https://github.com/spencerbertsch1" target="_blank" style="color: #000000; text-decoration: none;"><div class="grid-item"> Logistic Regression and Linear Separability</div></a>
        <a href="https://github.com/spencerbertsch1" target="_blank" style="color: #000000; text-decoration: none;"><div class="grid-item"> Single-Neuron Neural Networks</div></a>
        <a href="https://github.com/spencerbertsch1" target="_blank" style="color: #000000; text-decoration: none;"><div class="grid-item"> Single-Neuron Neural Networks</div></a>     

        <p>
          <br>
        </p>

    </div>


    <div class="resource-title">
      <h1> 
        Academic Projects
      </h1>
      <p>
        The following are slide decks from various projects I worked on, mostly in 
        graduate school at Dartmouth. Topics range from quantitative finance to machine 
        learning to marketing.   
      </p>

    </div>


      <div class="grid-container">
        <a href="https://github.com/spencerbertsch1" target="_blank" style="color: #000000; text-decoration: none;"><div class="grid-item">Presentation 1</div></a>
        <a href="https://github.com/spencerbertsch1" target="_blank" style="color: #000000; text-decoration: none;"><div class="grid-item">Presentation 2</div></a>
        <a href="https://github.com/spencerbertsch1" target="_blank" style="color: #000000; text-decoration: none;"><div class="grid-item">Presentation 3</div></a>
        <a href="https://github.com/spencerbertsch1" target="_blank" style="color: #000000; text-decoration: none;"><div class="grid-item">Presentation 4</div></a>
        <p>
          <br>
        </p>
      </div>


    <div style="text-align:center;">
        <footer>
            <br>
            <hr>
            <br>
            <a href="https://www.linkedin.com/in/spencerbertsch/"><i class="fa fa-linkedin" style="font-size:24px;color:#2962FF"></i></a>
            &emsp; <a href="https://github.com/spencerbertsch1"><i class="fa fa-github" style="font-size:24px;color:#2962FF"></i></a>
            
            <p class="light-text" style="color:gray"> Spencer Bertsch &copy; 2020 </p>
        </footer>
    </div>
    
  </body>

</div>
</html>
