<html>
  <head>
    <meta charset="utf-8">

    <title>{% block page_title %}Home{% endblock page_title %}</title>

    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/styles.css') }}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Loading in TensorFlow.js version 0.11.2 -->
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@0.11.2"> </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"> </script>
  </head>
  
  <header>
    <div class="container">
      <img src="https://user-images.githubusercontent.com/20422614/91669451-1dffca80-eae3-11ea-822a-c27c0b12814c.png" alt="logo" class="logo">
  
      <nav>
        <ul>
          <li><a href="{{ url_for('showHomepage')}}">Home</a></li>
          <li><a href="{{ url_for('showProjects')}}">PROJECTS</a></li>
          <li><a href="{{ url_for('showResources')}}">RESOURCES</a></li>
          <li><a href="{{ url_for('showContact')}}">CONTACT</a></li>
          <li><a href="https://github.com/spencerbertsch1">GITHUB</a></li>
        </ul>
      </nav>
    </div>
  </header>
  
  <body>
    <div class="project-title">
      <h1> 
        Neural Network Visualizer
      </h1>

      <p> 
        This is a simple example of a sequential feed forward network in tensorflow. Feel free to change the 
        network parameters, add some data to the pallet, and look at the different ways that your neural network 
        architecture learns from the data! 

        If you need a refresher on network parameters such as loss functions, activation functions, optimizers, 
        or network size, check out my reference papers on those topics <a href="{{ url_for('showResources')}}">here.</a>
      </p>
    </div>

    <div class="tfjs_box">  
      x: <input type="text" id="x" />
      y: <input type="text" id="y" />

      <input type="button" id="append" value="submit">

      <div style="padding:50px">
          <canvas id="myChart" width="900px" height="400px"></canvas>
      </div>

      <script src="{{ url_for('static', filename='js/tf_js_test.js') }}"></script>
    </div>

    <div class="button-box">
      <h2>
        Network Parameters
      </h2>
      <br>

      <!-- create drop down so the user can choose their loss function -->
      <label for="loss_function">Choose a loss function:</label>
      <select name="loss_function" id="loss_function">
        <option value="meanAbsoluteError">meanAbsoluteError</option>
        <option value="meanSquaredError">meanSquaredError</option>
        <br>
        <br>

        <input type="button" id="set_params" value="submit">

        <div class="tensorflow_img">
          <!-- image source: "https://miro.medium.com/max/5646/1*drjJU_Kns2HREZVfl5NsSw.png" --> 
          <img src="https://user-images.githubusercontent.com/20422614/92188192-e6b65400-ee29-11ea-913d-af8cc35bfae5.png" alt="TF" style="width:160px;height:70px;">
        </div>
    </div>

  </body>
</html>