<html>
  <head>
    <meta charset="utf-8">

    <title>{% block page_title %}Home{% endblock page_title %}</title>

    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/styles.css') }}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Loading in TensorFlow.js version 0.11.2 -->
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@0.11.2"> </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"> </script>
  </head>
  
  <header>
    <div class="container">
      <img src="https://user-images.githubusercontent.com/20422614/91669451-1dffca80-eae3-11ea-822a-c27c0b12814c.png" alt="logo" class="logo">
  
      <nav>
        <ul>
          <li><a href="{{ url_for('showHomepage')}}">Home</a></li>
          <li><a href="{{ url_for('showProjects')}}">PROJECTS</a></li>
          <li><a href="{{ url_for('showResources')}}">RESOURCES</a></li>
          <li><a href="{{ url_for('showContact')}}">CONTACT</a></li>
          <li><a href="https://github.com/spencerbertsch1" target="_blank">GITHUB</a></li>
        </ul>
      </nav>
    </div>
  </header>
  
  <body>
    <div class="project-title">
      <h1> 
        Neural Network Visualizer
      </h1>

      <p> 
        This is a simple example of a sequential feed forward network in tensorflow. Feel free to change the 
        network parameters, add some data to the pallet, and look at the different ways that your neural network 
        architecture learns from the data! 

        If you need a refresher on network parameters such as loss functions, epochs, activation functions, 
        or optimizers, check out my reference papers on those topics <a href="{{ url_for('showResources')}}">here.</a>
      </p>
    </div>

    <!-- Network Parameter Input Section -->
    <div class="button-box">

      <div class="button-title">
        <h2> 
          Network Parameters
        </h2>
      </div>

      <!-- Loss Function -->
      Choose Loss Function: <select name="loss" id="loss">
        <option value="meanSquaredError">Mean Squared Error</option>
        <option value="meanAbsoluteError">Mean Absolute Error</option>
      </select>
      <br>

      <!-- Number of Epochs -->
      <p>Choose number of epochs:</p>
      <div class="slidecontainer_epochs">
        <input type="range" min="50" max="350" value="150" class="slider" id="EpochRange">
        <p>Epochs: <span id="epoch_demo"></span></p>
      </div>
      
      <script>
      var slider = document.getElementById("EpochRange");
      var output = document.getElementById("epoch_demo");
      output.innerHTML = slider.value;
      
      slider.oninput = function() {
        output.innerHTML = this.value;
      }
      </script>

      <!-- Activation Function -->
      Choose Activation Function: <select name="activation" id="activation">
        <option value="relu">ReLU</option>
        <option value="sigmoid">Sigmoid</option>
        <option value="linear">Linear</option>
      </select>
      <br>
      <br>

      <!-- Optimizer -->
      Choose Optimizer: <select name="optimizer" id="optimizer">
        <option value="adam">Adam</option>
        <option value="adagrad">Adagrad</option>
        <option value="rmsprop">RMSprop</option>
      </select>
      <br>
      <br>

      <button onclick="myFunction()" id="network_params">Update Network Parameters</button>
      
      <div id="snackbar">Network Parameters Updated!</div>

    </div>

    <!-- Network Visualization Section -->
    <div class="tfjs_box">  
      New Data: <input type="text" id="y" />

      <input type="button" id="add_custom" value="Add Custom Point">

      <input type="button" id="add_random" value="Add Random Point">

      <input type="button" id="remove_data" value="Remove Point">

      <input type="button" id="clear_dataset" value="Clear Data Set">

      <input type="button" id="fit_model" value="Fit Model">

      <div style="padding:45px">
          <canvas id="myChart" width="900px" height="400px"></canvas>
      </div>

      <script src="{{ url_for('static', filename='js/nn_sandbox.js') }}"></script>
    </div>


  </body>
</html>